.main{
    
    height: 95vh;

    
}

body{
  padding-bottom: 5px;
}


body::-webkit-scrollbar{
    width: 0.25rem
}

body::-webkit-scrollbar-track{
    background: black;
}


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: white;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.AboutImg:hover{
  transform: scale(1.15) translateY(-10%);
}


.subtitle{
  font-size: small;
}

.goright{
  margin-left: 5%;
}
.worktype{
  font-size: small;
  color: rgb(163, 163, 163);
}
.worktype:hover{
  color: rgb(255, 145, 0);
}

.Info-holder{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  font-size: large;
  padding: 7%;
}

.aboutcontainer{
  display: inline-flex;
  align-items: center;
  background-image: url("bg.jpg");
  background-size: cover;
}



.homeImg{
  margin-top: 4rem;

}



.maincategory{
  margin-top: 1rem;


}

.subcategory{
  margin-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
      .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
    .navbar {
      top: 0;
      width: 100vw;
      height: 5rem;
    }
    .subtitle{
      margin-left: 15%;
    }
    .header{
      margin-left: 10%;
    
    }

    .homeImg{
        width: 90%;
        margin-left: 5%;
    }

  .header{
    letter-spacing: 0.2rem;
  }

    .main {
      margin-top: 20%;
    }

    *{
      font-size: 15px;
    }
    .goright{
      display: none;
    }

    .main-form{
      margin-left: 3%;
    }


  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {

.aboutHeader:hover{
  /* transform: scaleX(1.5); */
  transform: scale(1.5);

}

.aboutHeader{
  transition: 100ms ease-in-out;
}

.content{
  transition: 200ms ease-in-out;
}

.content:hover{
  transform: skew(2deg);
}

.aboutBox{
  margin-left: 25%;
    margin-right: 25%;
  width: 40rem;
  text-align: center;
}

.homeImg{
  margin-left: 13%;
    max-width: 1400px;
      width: 70%;
  height: 70%;
}
    .header{
      margin-left: 30%;
    
    }
    .main{
      margin-left: 6rem;
    }
    .subtitle{
      margin-left: 40%;
    }
    .header{
      letter-spacing: 0.6rem;
    }
  
    .goright{
      display: block;
    }

    .about{
      margin-left: 20%;
    }
  }
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
